<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pretty Pictures Gallery</title>


      <link rel="stylesheet" href="style_greet.css" type="text/css">
  </head>
  <body>




<h1 id="tm">Pretty Pictures Gallery</h1>

<ul class="login-buttons">

  <!-- <li><a href="/visitor">Visitor Login</a></li>
  <li><a href="/manager">Manager Login</a></li> -->

  <form action="/manager">
    <input type="submit" value="Manager Login"></form>
    <form action="/visitor">
      <input type="submit" value="Visitor Login"></form>
</ul>
  </body>
</html>
