<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pretty Pictures Gallery</title>
      <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <nav id="menu">
      <li class="login-menu"><a href="/visitor">Visitor</a></li>
      <li class="login-menu"><a href="/manager">Manager</a></li>
<img id="background" src="/images/background.jpg" alt="Water Lillies">
    </nav>
<h1 id="tm">Pretty Pictures Gallery</h1>

  </body>
</html>
