
<div class="topnav">
  <a class="active" href="/">Home</a>

<h2>All Exhibits by Artist</h2>

<% @exhibits.each do |exhibit| %>

<p>Title: <%= exhibit.title %> </p>
<p>Artist Name: <%= exhibit.artist.name %></p>




<p><a href="/visitor/<%= exhibit.id %>">Exhibit Details</a></p>
<hr>
<% end %>
