
<h2>Current Exhibits</h2>

<% @exhibits.each do |exhibit| %>

<p>Title: <%= exhibit.title %> </p>
<h3><a href="/visitorf/<%= exhibit.artist_id %>"> Artist Name: <%= exhibit.artist.name %></a></h3>



<p><a href="/visitor/<%= exhibit.id %>">Exhibit Details</a></p>



    <hr>
<% end %>
