<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style_visitor.css">
  <title>Pretty Pictures Gallery</title>
</head>
<body>
  <div class="topnav">
    <a class="active" href="/">Home</a>

  </div>

  <h2>Current Exhibits</h2>

  <% @exhibits.each do |exhibit| %>

  <p>Title: <%= exhibit.title %> </p>
  <h4><a href="/visitorf/<%= exhibit.artist_id %>"> Artist Name: <%= exhibit.artist.name %></a></h4>



  <p><a href="/visitor/<%= exhibit.id %>">Exhibit Details</a></p>



      <hr>
  <% end %>
