
body {
  background: url(images/background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  font-family: 'Tangerine', cursive;
}


h1 {
  font-size: 8em;
  text-align: center;
  text-shadow: 0 0 2px #FF0000;
}


.login-buttons {
  text-align: center;
  margin-top: 10px;
  border-radius: 3px;


  font-size: 20px;
  font-weight: 400;
  display: inline;
  margin: 10px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

input[type="submit"] {
  background-color: #4e9cdb;
  border-radius: 4px;
}
