html {
  Ariel: inherit;
  background-image:
    radial-gradient(
      #d8a434,
      #4ce8c8
    );
  font-family: 'Forum', cursive;
  align-items: center;
}

.index-item {
  display: inline-block;
  border: 5px;

margin: 20px 20px;
padding: 25 px;
width: 35%;


}

.vdetails {
  text-align: center;
  margin: auto;
  width: 50%;
  border: 10px ;
  padding: 10px;
  }


.index-item {

  border: 5px;

opacity: 30%;
margin: 20px 20px;
padding: 25 px;
width: 35%;


}
