<h2>Current Exhibits</h2>

<% @exhibits.each do |exhibit| %>

<p>Title: <%= exhibit.title %> </p>
<p>Artist Name: <%= exhibit.artist.name %></p>
<p><a href="/manager/<%= exhibit.id %>">Edit Exhibit</a></p>
<hr>
<% end %>

<p><a href="/manager/add_exhibit">Add Exhibit</a></p>



  
