<h2>New Artist</h2>

<form method="POST" action="/artists">

<label for="name">Full Name:</label>
<input type="text" name="name" id="name"/>

<label for="lifetime">Lifetime:</label>
<input type="text" name="lifetime" id="lifetime"/>

<label for="nationality">Nationality</label>
<input type="text" name="nationality" id="nationality">
<hr>

<input type="submit" value="Add This Artist"/>
</form>
