
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/style_manager.css" type="text/css">
</head>
<body class="changes">


  <div class="topnav">
    <a class="active" href="/">Home</a>

  <h2>New Artist</h2>

  <form method="POST" action="/artists">

  <label for="name">Full Name:</label>
  <input type="text" name="name" id="name"/>

  <label for="lifetime">Lifetime:</label>
  <input type="text" name="lifetime" id="lifetime"/>

  <label for="nationality">Nationality</label>
  <input type="text" name="nationality" id="nationality">
  <hr>

  <input type="submit" value="Add This Artist"/>
  </form>

</body>
</html>
